* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
}

body {
    padding: 1rem;
    transition: ease-in 0.5s;
}

main {
    z-index: 2;
    margin-top: 1rem;
    display: grid;
    display: grid;
    grid-template-columns: repeat(1fr);

}

h1 {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center
}

.loading {
    position: absolute;
    right: 47%;
    top: 20%;
    z-index: -10;
}

/*
nav:nth-child(3)::before {
    content: "";
    background-repeat: no-repeat;
    background-position: -0.5rem 75%;
    background-size: 110%;
    width: 2rem;
    height: 1.6rem;
    transition: 0.3s;
    background-image: url(../images/001-video-player-1.svg);
}
*/

h2 {
    padding: 1rem 1rem 0 1rem;
    font-size: 1rem;
    display: inline-block;
}


h4 {
    font-weight: 200;
    font-style: oblique;
    font-size: 0.8rem;
    color: #D64933;

}

h1 b {
    font-size: 1.3rem;
    color: #D64933;
}

article {
    border-radius: 3px;
    /*    background-color: aqua;*/
    width: 100%;
    /*    height: 12rem;*/
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    margin: 0.5rem 0rem;
    /*    transition: ease-in 0.5s;*/
}

.moviedetail {
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    background-color: white;

}


.release {
    font-weight: 200;
    font-style: oblique;
    font-size: 0.8rem;
    color: #4d4d4d;
    justify-content: flex-end;
    margin-top: auto;
}


article ul {
    width: 100%;
    list-style: none;
    display: flex;

}

article ul li {
    margin: 0.1rem;
    padding: 0.15rem 0.4rem;
    border: 1px solid #D64933;
    border-radius: 3px;
    color: #D64933;
    font-size: 0.8rem;
}

article img {
    border-radius: 3px 0px 0px 3px;
    max-width: 32%;
    object-fit: cover;
    max-height: 12rem;
    overflow: hidden;
}

.firstContent {
    display: flex;
}

.more {
    justify-content: flex-end;
    margin-top: auto;
}

.more span {
    font-size: 0.9rem;
}

.more img {
    height: 0.8rem;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
    margin-left: 10rem;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}


iframe {
    /*    display: none;*/
    height: 70vh;
    width: 96vw;
    margin: 0 2vw;


}

@media only screen and (min-width: 700px) {

    body {
        padding: 0rem;
        transition: ease-in 0.5s;
    }

    nav {
        padding: 1rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    article {
        width: 91%;
        margin: 1rem;
    }

    h2 {
        padding: 1rem 1rem 0 1rem;
        font-size: 1.5rem;
        display: inline-block;
    }
}

@media only screen and (min-width: 980px) {

    body {
        padding: 0rem;
        transition: ease-in 0.5s;
    }

    nav {
        padding: 1rem;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        /*        padding: 2rem;*/
    }

    article {
        width: 91%;
        margin: 1rem;
    }
}
